body{
  margin:0;
  background-color: #1e1e2e;
  color:#cdd6f4;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color:#89b4fa;
  transition: 0.4s;
}

a:hover{
  color: #1e66f5;
}

.main{
  margin-top:5%;
  text-align:center;
  background-color: #11111b;
  width: 35%;
  transform: translate(94%,0);
  border-radius: 25%;
  padding: 2% 0;
}

.socials b{
  font-size: 2em;
}

.profile-pic img{
  border-radius: 50%;
}

/* .footer{ */
/*   text-align: center; */
/*   background-color: #11111b; */
/*   position: absolute; */
/*   bottom: 0; */
/*   width: 100%; */
/*   padding: 0.1% 0; */
/*   opacity: 0.5; */
/*   transition: 0.4s; */
/* } */
/**/
/* .footer:hover{ */
/*   opacity: 0.9; */
/* } */
